aws_region  = "ap-northeast-1"
project_name = "aws-platform-portfolio"
environment = "dev"

vpc_cidr = "10.0.0.0/16"

availability_zones = [
  "ap-northeast-1a",
  "ap-northeast-1c"
]

public_subnets = [
  "10.0.0.0/24",
  "10.0.1.0/24"
]

private_subnets = [
  "10.0.10.0/24",
  "10.0.11.0/24"
]

# Keep this at 0 unless you are temporarily testing the API through the ALB.
ecs_desired_count = 0

# Enable this only after setting the real GitHub repository.
enable_github_oidc = false
# github_repository  = "Toridesu/aws-platform-portfolio"
# github_branch      = "main"
